window {
    margin: 0px;
    border: 10px solid #171717;
    background-color: #171717;
    border-radius: 0px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: #cdcdcd;
    font-weight: bold;
    background-color: #171717;
    outline: none;
    border-radius: 0px;
    margin: 10px 13px;
    margin-bottom: 2px;
}

#input:focus {
    border: 0px;
    margin-bottom: 0px;
    background-color: #171717;
    color: #cdcdcd;
}

#inner-box {
    margin: 4px;
    border: 20px solid #171717;
    color: #cdcdcd;
    font-weight: bold;
    background-color: #171717;
    border-radius: 0px;
}

#outer-box {
    margin: 0px;
    border: 0px solid #F2EAD3; /* outer border accent */
    border-radius: 0px;
    background-color: #171717;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 0px;
    margin-bottom: 5px;
}

#img {
    margin-right: 10px;
}

#img:selected {
    background-color: #F2EAD3;
    margin-right: 10px;
    border-radius: 0px;
}

#text:selected {
    color: #000000;
    margin: 0px 0px;
    border: none;
    border-radius: 0px;
    background-color: #F2EAD3; /* red text highlight */
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: 1px solid #F2EAD3; /* red border on selected entry */
    border-radius: 0px;
    background-color: #F2EAD3; /* red background on selection */
    color: #000000;
    box-shadow: 0 0 0 1px #F2EAD3;
}

